In [3]:
pip install ydata-profiling

Collecting ydata-profilingNote: you may need to restart the kernel to use updated packages.

  Obtaining dependency information for ydata-profiling from https://files.pythonhosted.org/packages/a8/e2/91e8ec48c5a9ba759847d74bb69475d22d79922f686e5252d0eb16e5bb85/ydata_profiling-4.12.1-py2.py3-none-any.whl.metadata
  Using cached ydata_profiling-4.12.1-py2.py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: scipy<1.14,>=1.4.1 in c:\users\sarah\anaconda3\lib\site-packages (from ydata-profiling) (1.11.1)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in c:\users\sarah\anaconda3\lib\site-packages (from ydata-profiling) (2.0.3)
Requirement already satisfied: matplotlib<3.10,>=3.5 in c:\users\sarah\anaconda3\lib\site-packages (from ydata-profiling) (3.7.2)
Requirement already satisfied: pydantic>=2 in c:\users\sarah\anaconda3\lib\site-packages (from ydata-profiling) (2.10.4)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\sarah\anaconda3\lib\site-packages (from ydata-profiling) (6.0)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\sarah\anaconda3\lib\site-packages (from ydata-profiling) (3.1.2)
Requirement already satisfied: visions[type_image_path]<0.7.7,>=0.7.5 in c:\users\sarah\anaconda3\lib\site-packages (from ydata-profiling) (0.7.6)
Requirement already satisfied: numpy<2.2,>=1.16.0 in c:\users\sarah\anaconda3\lib\site-packages (from ydata-profiling) (1.24.3)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\sarah\anaconda3\lib\site-packages (from ydata-profiling) (0.1.12)
Collecting phik<0.13,>=0.11.1 (from ydata-profiling)
  Obtaining dependency information for phik<0.13,>=0.11.1 from https://files.pythonhosted.org/packages/95/e3/250ce99ed761389028543fcb876176ba619f6bf387d6cce3bab736bd92cc/phik-0.12.4-cp311-cp311-win_amd64.whl.metadata
  Using cached phik-0.12.4-cp311-cp311-win_amd64.whl.metadata (5.6 kB)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\sarah\anaconda3\lib\site-packages (from ydata-profiling) (2.31.0)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\sarah\anaconda3\lib\site-packages (from ydata-profiling) (4.65.0)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in c:\users\sarah\anaconda3\lib\site-packages (from ydata-profiling) (0.12.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\sarah\anaconda3\lib\site-packages (from ydata-profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\sarah\anaconda3\lib\site-packages (from ydata-profiling) (0.14.0)
Requirement already satisfied: typeguard<5,>=3 in c:\users\sarah\anaconda3\lib\site-packages (from ydata-profiling) (4.4.1)
Requirement already satisfied: imagehash==4.3.1 in c:\users\sarah\anaconda3\lib\site-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.3 in c:\users\sarah\anaconda3\lib\site-packages (from ydata-profiling) (1.9.4)
Requirement already satisfied: dacite>=1.8 in c:\users\sarah\anaconda3\lib\site-packages (from ydata-profiling) (1.8.1)
Requirement already satisfied: numba<1,>=0.56.0 in c:\users\sarah\anaconda3\lib\site-packages (from ydata-profiling) (0.57.1)
Requirement already satisfied: PyWavelets in c:\users\sarah\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (1.4.1)
Requirement already satisfied: pillow in c:\users\sarah\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (10.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\sarah\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.1.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sarah\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\sarah\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sarah\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sarah\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\sarah\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (23.1)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\sarah\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sarah\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (2.8.2)
Requirement already satisfied: llvmlite<0.41,>=0.40.0dev0 in c:\users\sarah\anaconda3\lib\site-packages (from numba<1,>=0.56.0->ydata-profiling) (0.40.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sarah\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sarah\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2023.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\sarah\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.2.0)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\sarah\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.2 in c:\users\sarah\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (2.27.2)
Requirement already satisfied: typing-extensions>=4.12.2 in c:\users\sarah\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sarah\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sarah\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sarah\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sarah\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2023.11.17)
Requirement already satisfied: patsy>=0.5.2 in c:\users\sarah\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (0.5.3)
Requirement already satisfied: colorama in c:\users\sarah\anaconda3\lib\site-packages (from tqdm<5,>=4.48.2->ydata-profiling) (0.4.6)
Requirement already satisfied: attrs>=19.3.0 in c:\users\sarah\anaconda3\lib\site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (22.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\sarah\anaconda3\lib\site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (3.1)
Requirement already satisfied: six in c:\users\sarah\anaconda3\lib\site-packages (from patsy>=0.5.2->statsmodels<1,>=0.13.2->ydata-profiling) (1.16.0)
Using cached ydata_profiling-4.12.1-py2.py3-none-any.whl (390 kB)
Using cached phik-0.12.4-cp311-cp311-win_amd64.whl (667 kB)
Installing collected packages: phik, ydata-profiling
Successfully installed phik-0.12.4 ydata-profiling-4.12.1

In [6]:
import pandas as pd
import os 
from ydata_profiling import ProfileReport

Data Cleaning

In [10]:
path = os.getcwd()
print(path)

C:\Users\sarah\My Python Stuff\Data Analysis\Data Cleaning

In [12]:
# read dataset
# pd.read_csv是pandas中的一個方法，功能讀取CSV檔案並將其載入為一個 DataFrame
fin_data = pd.read_csv(r"C:\Users\sarah\My Python Stuff\Data Analysis\Data Cleaning\financial_regression.csv")

Data Types
check the data types of each column

In [14]:
fin_data.dtypes

date                   object
sp500 open            float64
sp500 high            float64
sp500 low             float64
sp500 close           float64
sp500 volume          float64
sp500 high-low        float64
nasdaq open           float64
nasdaq high           float64
nasdaq low            float64
nasdaq close          float64
nasdaq volume         float64
nasdaq high-low       float64
us_rates_%            float64
CPI                   float64
usd_chf               float64
eur_usd               float64
GDP                   float64
silver open           float64
silver high           float64
silver low            float64
silver close          float64
silver volume         float64
silver high-low       float64
oil open              float64
oil high              float64
oil low               float64
oil close             float64
oil volume            float64
oil high-low          float64
platinum open         float64
platinum high         float64
platinum low          float64
platinum close        float64
platinum volume       float64
platinum high-low     float64
palladium open        float64
palladium high        float64
palladium low         float64
palladium close       float64
palladium volume      float64
palladium high-low    float64
gold open             float64
gold high             float64
gold low              float64
gold close            float64
gold volume           float64
dtype: object

In [20]:
fin_data['date'] = pd.to_datetime(fin_data['date'], format = '%Y-%m-%d')
print(fin_data)

           date  sp500 open  sp500 high  sp500 low  sp500 close  sp500 volume  \
0    2010-01-14      114.49    115.1400   114.4200       114.93   115646960.0
1    2010-01-15      114.73    114.8400   113.2000       113.64   212252769.0
2    2010-01-18         NaN         NaN        NaN          NaN           NaN
3    2010-01-19      113.62    115.1300   113.5900       115.06   138671890.0
4    2010-01-20      114.28    114.4500   112.9800       113.89   216330645.0
...         ...         ...         ...        ...          ...           ...
3899 2024-10-17      585.91    586.1200   582.1600       582.35    34393714.0
3900 2024-10-18      584.07    585.3900   582.5800       584.59    37416801.0
3901 2024-10-21      583.85    584.8500   580.6001       583.63    36439010.0
3902 2024-10-22      581.05    584.5000   580.3800       583.32    34183835.0
3903 2024-10-23      581.26    581.7086   574.4150       577.99    47444991.0

      sp500 high-low  nasdaq open  nasdaq high  nasdaq low  ...  \
0             0.7200        46.26       46.520     46.2200  ...
1             1.6400        46.46       46.550     45.6500  ...
2                NaN          NaN          NaN         NaN  ...
3             1.5400        45.96       46.640     45.9500  ...
4             1.4700        46.27       46.604     45.4300  ...
...              ...          ...          ...         ...  ...
3899          3.9600       496.44      496.490    491.1901  ...
3900          2.8100       494.06      495.570    493.3000  ...
3901          4.2499       493.25      496.230    491.3100  ...
3902          4.1200       492.73      497.445    491.9700  ...
3903          7.2936       493.59      494.250    485.0500  ...

      palladium high  palladium low  palladium close  palladium volume  \
0            45.0200        43.8600            44.84          364528.0
1            45.7600        44.4000            45.76          442210.0
2                NaN            NaN              NaN               NaN
3            47.0800        45.7000            46.94          629150.0
4            47.3100        45.1700            47.05          643198.0
...              ...            ...              ...               ...
3899         96.0259        94.5400            95.68           52414.0
3900         99.6600        97.2700            99.46          205027.0
3901         98.3500        95.8900            97.35          227394.0
3902         99.5899        97.9600            99.41          136431.0
3903         98.5500        96.4643            97.53           81133.0

      palladium high-low  gold open  gold high  gold low  gold close  \
0                 1.1600     111.51     112.37    110.79      112.03
1                 1.3600     111.35     112.01    110.38      110.86
2                    NaN        NaN        NaN       NaN         NaN
3                 1.3800     110.95     111.75    110.83      111.52
4                 2.1400     109.97     110.05    108.46      108.94
...                  ...        ...        ...       ...         ...
3899              1.4859     247.75     249.06    247.62      248.63
3900              2.3900     250.00     251.37    249.90      251.27
3901              2.4600     252.74     253.14    250.73      251.22
3902              1.6299     253.06     253.94    252.52      253.93
3903              2.0857     253.08     253.18    250.20      250.87

      gold volume
0      18305238.0
1      18000724.0
2             NaN
3      10467927.0
4      17534231.0
...           ...
3899    5176170.0
3900    7833614.0
3901    9258590.0
3902    5756321.0
3903    7899995.0

[3904 rows x 47 columns]

NaN values

In [23]:
# 計算每個columns的空值數量
fin_data.isna().sum()

date                     0
sp500 open             185
sp500 high             185
sp500 low              185
sp500 close            185
sp500 volume           185
sp500 high-low         185
nasdaq open            185
nasdaq high            185
nasdaq low             185
nasdaq close           185
nasdaq volume          185
nasdaq high-low        185
us_rates_%            3728
CPI                   3728
usd_chf                210
eur_usd                210
GDP                   3847
silver open            185
silver high            185
silver low             185
silver close           185
silver volume          185
silver high-low        185
oil open               185
oil high               185
oil low                185
oil close              185
oil volume             185
oil high-low           185
platinum open          185
platinum high          185
platinum low           185
platinum close         185
platinum volume        185
platinum high-low      185
palladium open         185
palladium high         185
palladium low          185
palladium close        185
palladium volume       185
palladium high-low     185
gold open              185
gold high              185
gold low               185
gold close             185
gold volume            185
dtype: int64

In [27]:
# 從fin_data中選擇所有rows以及前20個columns
fin_data.iloc[:, :20].head()

,date,sp500 open,sp500 high,sp500 low,sp500 close,sp500 volume,sp500 high-low,nasdaq open,nasdaq high,nasdaq low,nasdaq close,nasdaq volume,nasdaq high-low,us_rates_%,CPI,usd_chf,eur_usd,GDP,silver open,silver high
0,2010-01-14,114.49,115.14,114.42,114.93,115646960.0,0.72,46.26,46.520,46.22,46.39,75209000.0,0.300,NaN,NaN,1.0206,1.4478,NaN,18.58,18.70
1,2010-01-15,114.73,114.84,113.20,113.64,212252769.0,1.64,46.46,46.550,45.65,45.85,126849300.0,0.900,NaN,NaN,1.0264,1.4376,NaN,18.54,18.54
2,2010-01-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-19,113.62,115.13,113.59,115.06,138671890.0,1.54,45.96,46.640,45.95,46.59,84388200.0,0.690,NaN,NaN,1.0340,1.4269,NaN,18.53,18.79
4,2010-01-20,114.28,114.45,112.98,113.89,216330645.0,1.47,46.27,46.604,45.43,45.92,145680000.0,1.174,NaN,NaN,1.0453,1.4094,NaN,18.31,18.31

In [31]:
# ffill用每列中前一個有效值填補所有缺失值 (NaN)
# inplace=True表示改動後即覆蓋fin_data的原始數據
fin_data.ffill(inplace = True)

In [32]:
fin_data.iloc[:, :20].head()

,date,sp500 open,sp500 high,sp500 low,sp500 close,sp500 volume,sp500 high-low,nasdaq open,nasdaq high,nasdaq low,nasdaq close,nasdaq volume,nasdaq high-low,us_rates_%,CPI,usd_chf,eur_usd,GDP,silver open,silver high
0,2010-01-14,114.49,115.14,114.42,114.93,115646960.0,0.72,46.26,46.520,46.22,46.39,75209000.0,0.300,NaN,NaN,1.0206,1.4478,NaN,18.58,18.70
1,2010-01-15,114.73,114.84,113.20,113.64,212252769.0,1.64,46.46,46.550,45.65,45.85,126849300.0,0.900,NaN,NaN,1.0264,1.4376,NaN,18.54,18.54
2,2010-01-18,114.73,114.84,113.20,113.64,212252769.0,1.64,46.46,46.550,45.65,45.85,126849300.0,0.900,NaN,NaN,1.0264,1.4376,NaN,18.54,18.54
3,2010-01-19,113.62,115.13,113.59,115.06,138671890.0,1.54,45.96,46.640,45.95,46.59,84388200.0,0.690,NaN,NaN,1.0340,1.4269,NaN,18.53,18.79
4,2010-01-20,114.28,114.45,112.98,113.89,216330645.0,1.47,46.27,46.604,45.43,45.92,145680000.0,1.174,NaN,NaN,1.0453,1.4094,NaN,18.31,18.31

In [ ]:
# 處理遺漏值（NaN），刪除含有遺漏值的行，並重置索引

# missing_values列出每個欄位中缺失值的數量。
# 印出保留缺失值數量不為0的欄位
# rows_to_delete 儲存的是刪除行數的最大可能值(即最壞情況)
# 印出刪除的行數，方便檢查

missing_values = fin_data.isna().sum()
print(missing_values[missing_values != 0])
rows_to_delete = missing_values[missing_values != 0].max()
print(f'We will loose {rows_to_delete} rows')

In [37]:
# 將fin_data的某個欄位(date)設為索引(index)，並直接修改原始的fin_data，不返回新 DataFrame
fin_data.set_index('date', inplace = True)
fin_data.head()

,sp500 open,sp500 high,sp500 low,sp500 close,sp500 volume,sp500 high-low,nasdaq open,nasdaq high,nasdaq low,nasdaq close,...,palladium high,palladium low,palladium close,palladium volume,palladium high-low,gold open,gold high,gold low,gold close,gold volume
date,,,,,,,,,,,,,,,,,,,,,
2010-01-14,114.49,115.14,114.42,114.93,115646960.0,0.72,46.26,46.520,46.22,46.39,...,45.02,43.86,44.84,364528.0,1.16,111.51,112.37,110.79,112.03,18305238.0
2010-01-15,114.73,114.84,113.20,113.64,212252769.0,1.64,46.46,46.550,45.65,45.85,...,45.76,44.40,45.76,442210.0,1.36,111.35,112.01,110.38,110.86,18000724.0
2010-01-18,114.73,114.84,113.20,113.64,212252769.0,1.64,46.46,46.550,45.65,45.85,...,45.76,44.40,45.76,442210.0,1.36,111.35,112.01,110.38,110.86,18000724.0
2010-01-19,113.62,115.13,113.59,115.06,138671890.0,1.54,45.96,46.640,45.95,46.59,...,47.08,45.70,46.94,629150.0,1.38,110.95,111.75,110.83,111.52,10467927.0
2010-01-20,114.28,114.45,112.98,113.89,216330645.0,1.47,46.27,46.604,45.43,45.92,...,47.31,45.17,47.05,643198.0,2.14,109.97,110.05,108.46,108.94,17534231.0

Exploratory Data Analysis

In [41]:
# 使用describe()提供描述性統計的簡要摘要
fin_data.describe()

,sp500 open,sp500 high,sp500 low,sp500 close,sp500 volume,sp500 high-low,nasdaq open,nasdaq high,nasdaq low,nasdaq close,...,palladium high,palladium low,palladium close,palladium volume,palladium high-low,gold open,gold high,gold low,gold close,gold volume
count,3904.000000,3904.000000,3904.000000,3904.000000,3.904000e+03,3904.000000,3904.000000,3904.000000,3904.000000,3904.000000,...,3904.000000,3904.000000,3904.000000,3.904000e+03,3904.000000,3904.000000,3904.000000,3904.000000,3904.000000,3.904000e+03
mean,268.682987,270.122713,267.117416,268.733058,1.122172e+08,3.005297,181.315445,182.601612,179.909807,181.352998,...,110.178456,107.932564,109.068986,7.102971e+04,2.245892,145.426749,146.072012,144.737571,145.427769,9.616390e+06
std,121.301869,121.950782,120.593032,121.329094,6.868014e+07,2.647785,122.407022,123.324716,121.377740,122.416641,...,58.434174,56.867084,57.675993,9.710389e+04,2.531757,29.577059,29.725640,29.393772,29.581290,6.138491e+06
min,103.110000,103.420000,101.130000,102.200000,1.708170e+05,0.300000,42.670000,42.821500,41.550000,42.470000,...,40.550000,38.490000,40.090000,3.157000e+03,0.230000,100.920000,100.990000,100.232600,100.500000,1.436508e+06
25%,169.752500,170.177500,169.040000,169.670000,6.674730e+07,1.270000,78.705000,79.180000,78.322500,78.735000,...,69.387500,68.285000,68.802500,2.082100e+04,0.870000,120.537500,121.020000,120.150000,120.570000,5.789278e+06
50%,240.910000,241.965000,239.310000,240.580000,9.254360e+07,2.075000,138.590000,139.250000,137.935000,139.020000,...,83.900000,82.620000,83.180000,3.812500e+04,1.410000,137.615000,138.137050,137.010000,137.725000,8.059978e+06
75%,373.637500,377.400000,370.972500,373.942500,1.362987e+08,3.780000,283.435000,286.990000,280.890000,284.260000,...,143.595075,140.308775,141.710000,8.301775e+04,2.685700,167.762500,168.391250,167.030025,167.822500,1.152169e+07
max,585.910000,586.120000,582.580000,584.590000,7.095045e+08,22.960000,503.070000,503.520000,498.390000,502.960000,...,298.210000,277.000100,295.000000,1.199042e+06,45.392300,253.080000,253.940000,252.520000,253.930000,9.369811e+07